<header class="row">
    <nav class="col-md-8">
        <ul class="nav nav-pills">
            <li routerLinkActive="active"><a [routerLink]="['/users']">Users</a></li>
            <li routerLinkActive="active" *ngIf="!isLoggedIn()"><a [routerLink]="['/auth']" >Login</a></li>
            <li routerLinkActive="active" *ngIf="isLoggedIn()"><a [routerLink]="['/personalcabinet']" >Personal Cabinet</a></li>
        </ul>
    </nav>
</header>