<div class="container">
    <g-map></g-map>
</div>

<h2>User</h2>
<div *ngIf="user">
    <h3>"{{ user.name }}"</h3>

    <div class="nav">
        <button class="btn btn-default" (click)="goToUsers(user)">Back</button>
    </div>


   
        <dl>
            <dt>Name</dt>
            <dd>{{user.name}}</dd>
    
            <dt>Age</dt>
            <dd>{{user.age}}</dd>
            
            <dt>Occupation</dt>
            <dd>{{user.occupation}}</dd>
           
        </dl>
        <h3>My Places</h3>
        <ul class="items" >
            <li *ngFor="let location of locations">
                <a>{{ location.name }}</a>
            </li>
        </ul>

</div>


