<h2>Users</h2>
<p>{{test}}</p>
<input type="text" [formControl]="search">
<ul class="items">
    <li *ngFor="let user of users | async">
        <a [routerLink]="['/user', user.id]" >{{ user.name }}</a>
    </li>
</ul>

<button routerLink="/notfound" class="btn btn-default">Go to not found page</button>
