<div class="container" style="width: 500px">
    
          <form class="form-signin" (submit)="auth(userForm)" #userForm="ngForm">
            <h2 class="form-signin-heading">Please sign in</h2>
            <label for="inputName" class="sr-only">Name</label>
            <input type="text" id="inputName" class="form-control" placeholder="Name" required autofocus="" [(ngModel)]="name" name='name'>
            <label for="inputPassword" class="sr-only">Password</label>
            <input style="margin-top: 5px" type="password" id="inputPassword" class="form-control" placeholder="Password" required [(ngModel)]="password" name='password'>
           
            <button style="margin-top: 5px"class="btn btn-lg btn-primary btn-block" (onClick)="auth()" type="submit" [disabled]='!userForm.form.valid'>Sign in</button>
          </form>
          if you don't have an account, please <a [routerLink]="['/register']">sign up</a>
        </div>