<div class="container" style="width: 500px">
    
    <form (submit)="register(userForm)" #userForm="ngForm" class="form-signin">
    
                
                <input  id="inputName" class="form-control" placeholder="Name" required  autofocus="" [(ngModel)]="user.name" name="name">
            
                
                <input style="margin-top: 5px" type="password" id="inputPassword" minlength="6" class="form-control" placeholder="Password" required [(ngModel)]="user.password" name="password" #inputPassword='ngModel'>
                <div *ngIf="inputPassword.errors && (inputPassword.dirty||inputPassword.touched)" class="alert alert-danger">
                <div [hidden]='!inputPassword.errors.minlength'>
                    Password must contain at least 6 characters
                </div>
                </div>
                
                <input style="margin-top: 5px" type="number" id="inputAge" class="form-control" placeholder="Age" required [(ngModel)]="user.age" name="age">

               
                <input style="margin-top: 5px" type="text" id="inputOccup" class="form-control" placeholder="Occupation" required  [(ngModel)]="user.occupation" name="occupation">
                <button style="margin-top: 5px"class="btn btn-lg btn-primary btn-block" type="submit" (onClick)="register()" [disabled]='!userForm.form.valid'>Sign Un</button>
           
           
    </form>

</div>