<div class="container">
<g-map></g-map>
</div>

<div *ngIf="user" style='  width: 50%; float: right'>
    <h2>Hello, {{user.name}}</h2>

    <form #userForm="ngForm">
        <dl>
            <dt [hidden]='!isEditState'>Name</dt>
            <dd [hidden]="!isEditState">
                <input type="text" title="name" [(ngModel)]="user.name" name="name" />
            </dd>

            <dt>Age</dt>
            <dd [hidden]="isEditState">{{user.age}}</dd>
            <dd [hidden]="!isEditState">
                <input type="number" title="age" [(ngModel)]="user.age" name="age" />
            </dd>

            <dt>Occupation</dt>
            <dd [hidden]="isEditState">{{user.occupation}}</dd>
            <dd [hidden]="!isEditState">
                <input type="text" title="occupation" [(ngModel)]="user.occupation" name="occupation" />
            </dd>
            <dd [hidden]="isEditState">
            <button class='btn btn-default' (click)="toggleEditState()">Edit</button>
            <button class='btn btn-default' (click)="delete()">Delete profile</button>
            <button class='btn btn-default' (click)="logout()">Logout</button>
            </dd>
            <dd [hidden]="!isEditState">
                <button class='btn btn-default' (click)="save()">Save</button>
                <button class='btn btn-default' (click)="toggleEditState()">Cancel</button>
                </dd>

            
       
            
        </dl>
    </form>
    <h3>My Places</h3>
    <ul class="items" >
        <li *ngFor="let location of locations">
            <a>{{ location.name }}</a>
        </li>
    </ul>
</div>
<div style=' width: 50%; float: left'>
    <form (submit)='createLocation(locationForm)'#locationForm="ngForm">
   
    <dl>
            
    
        <dt>Name</dt>
        <dd><input type='text' required [(ngModel)]="locinfo.name" name='name'></dd>
        
        <dt>Type</dt>
        <dd><input type='text' required [(ngModel)]="locinfo.type" name='type'></dd>
        
        <button style="margin-top: 5px"class="btn btn-default" (onClick)="createLocation()" [disabled]='!locationForm.form.valid'>Create Location</button>
    </dl>
    </form>
</div>