<style>
    .footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        font-size: 12px;
    }
    </style>
<footer class="footer">
        
            <!--Footer Links-->
            
                <div class="row">
        
                    <!--First column-->
                    <div class="col-md-6">
                        <h5 class="title">Eugene Zarkhin</h5>
                        <p>21 y.o. student, guitar-guy and just nice guy.</p>
                    </div>
                    <!--/.First column-->
        
                    <!--Second column-->
                    <div class="col-md-6">
                        <h5 class="title">Links</h5>
                        <ul>
                            <li>E-mail: zarkhineugene@gmail.com</li>
                            <li>Facebook: <a href="https://www.facebook.com/evgenzarkhin">Eugene Zarkhin</a></li>
                            <li>Instagram: <a href="https://www.instagram.com/evgendohuya/">@evgendohuya</a></li>
                            <li>Linkedin: <a href="www.linkedin.com/in/eugene-zarkhin-89255a134">Eugene Zarkhin</a></li>
                        </ul>
                    </div>
                    <!--/.Second column-->
                </div>
            
            <!--/.Footer Links-->
        
        
</footer>